<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway&subset=latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            <br>
            <br>
            <p>
              <a href="/">
                <center>
                  <img src="images/acercadeti.jpg" class="img-responsive img-circle img-size" alt="home">
                </center>
              </a>
            </p>
            <br>
            <br>
            <p>
              En la década de los sesenta nació fuera de Venezuela un movimiento cultural, literario y artístico, conocido como <em>El Techo de la Ballena</em>, con la premisa de despertar lo dormido, desorientar lo aparentemente despierto, revolver en la inquietud, arrancar conciencias y destripar lo sólido. Estuvo conformado de un grupo de escritores y artistas, y reunió elementos de ácido humor, crítica y opinión contestataria, literatura expresada en prosa, poesía sorpresiva y libre, fotografías de carácter, y en fin, una conjunción de elementos materiales e ideológicos que utilizó estéticamente con una finalidad bastante concreta, perfilada hacia una protesta social y política.
            </p>
            <br>
            <br>
            <cite>
              <center>
                  <em>Ideas que llegan al orificio, al techo, y salen a la luz con una enorme violencia.</em>
              </center>
            </cite>
            <br>
            <br>
            <p>
              Mi nombre es Eduardo y <em>El techo apalabrado</em> es mi rincón digital para rendirle homenaje a las palabras e ideas. Soy parte de la diáspora venezolana, y a pesar de estar fuera del país tengo a Venezuela en mente. Quiero aprender, pensar, enseñar, y hacer. Actualmente resido en California y paso los días en <a href="https://udacity.com">Udacity</a> haciendo de la educación un medio de superación.
            </p>
            <br>
            <br>
            <p>
              Me puedes contactar a través de <em>techoapalabrado@gmail.com</em>. 
            </p>
            <br>
            <br>
          </h4>
        </div>
      </div>
      

    </div>
  </body>
</html>